[Unit]
Description=Runs the uncloud-init
After=dbus.service
Wants=dbus.service

[Service]
ExecStart=/usr/sbin/uncloud-init --uninstall /etc/cloud/cloud.cfg.d/99-installer.cfg
